#apppage .gradient {
    background: -moz-linear-gradient(45deg, rgba(197, 22, 51, 0.7),  rgba(0, 212, 255, 0.7) 100%);
    background: -webkit-linear-gradient(45deg,  rgba(197, 22, 51, 0.7),  rgba(0, 212, 255, 0.7) 100%);
    background: -webkit-gradient(linear, 45deg, from(rgba(197, 22, 51, 0.7)), to(rgba(0, 212, 255, 0.7)));
    background: -o-linear-gradient(45deg,  rgba(197, 22, 51, 0.7),  rgba(0, 212, 255, 0.7) 100%);
    background: linear-gradient(45deg,  rgba(197, 22, 51, 0.7),  rgba(0, 212, 255, 0.7) 100%);
    }
    
    #apppage .view {
    background-image: url('bvpexel.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    }

    #apppage .view2 {
        background-image: url('rmap2.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 100vh;
    }

    #apppage .view3 {
        background-image: url('rmap3.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 100vh;
    }
    
    #apppage h6 {
    line-height: 1.7;
    }

body {
    font-family: 'Oswald', sans-serif;
}